In [ ]:
#first python program

In [5]:
print ("Hello World!")

Hello World!

In [ ]:
Pythonn identifiers

In [41]:
 # open file stream
 file = open(file_name, "w")
print ("There was an error writing to"), file_name
 sys.exit()
print ("Enter "), file_finish,
print (" When finished")
while file_text != file_finish:
     file_text = raw_input("Enter text: ")
     if file_text == file_finish:
 # close the file
         file.close
 break
 file.write(file_text)
 file.write("\n")
file.close()
file_name = raw_input("Enter filename: ")
if len(file_name) == 0:
     print ("Next time please enter something")
 sys.exit()

NameError: name 'file_name' is not defined

In [ ]:
#quotations

In [45]:
word = 'word'
print (word)
sentence = "This is a sentence."
print (sentence)
paragraph = """This is a paragraph. It is
made up of multiple lines and sentences."""
print (paragraph)

word
This is a sentence.
This is a paragraph. It ismade up of multiple lines and sentences.

In [ ]:
#python variables

In [47]:
counter = 100 # Creates an integer variable
miles = 1000.0 # Creates a floating point variable
name = "Zara Ali" # Creates a string variable
print (counter)
print (miles)
print (name)

100
1000.0
Zara Ali

In [ ]:
#deleeting variables

In [49]:
counter = 100
print (counter)
del counter
print (counter)

100

NameError: name 'counter' is not defined

In [ ]:
#printing variable types

In [51]:
x = "Zara"
y = 10
z = 10.10
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [53]:
x = str(10) # x will be '10'
y = int(10) # y will be 10
z = float(10) # z will be 10.0
print( "x =", x )
print( "y =", y )
print( "z =", z )

x = 10
y = 10
z = 10.0

In [ ]:
#case sensitivity

In [55]:
age = 20
Age = 30
print( "age =", age )
print( "Age =", Age )

age = 20
Age = 30

In [ ]:
#assignments

In [57]:
a = b = c = 100
print (a)
print (b)
print (c)

100
100
100

In [60]:
a,b,c = 1,2,"Zara Ali"
print (a)
print (b)
print (c)

1
2
Zara Ali

In [ ]:
#python variable names

In [62]:
counter = 100
_count = 100
name1 = "Zara"
name2 = "Nuha"
Age = 20
zara_salary = 100000
print (counter)
print (_count)
print (name1)
print (name2)
print (Age)
print (zara_salary)

100
100
Zara
Nuha
20
100000

In [ ]:
#local variables

In [64]:
def sum(x,y):
 sum = x + y
 return sum
print(sum(5, 10))

15

In [ ]:
#global variables

In [66]:
x = 5
y = 10
def sum():
 sum = x + y
 return sum
print(sum())

15

In [ ]:
# if statements

In [39]:
marks = 80
result = ""
if marks < 30:
     result = "Failed"
if marks > 75:
     result = "Passed with distinction"
else:
     result = "Passed"
print(result)

Passed with distinction

In [ ]:
#match statement

In [45]:
def checkVowel(n):
 match n:
     case 'a': return "Vowel alphabet"
     case 'e': return "Vowel alphabet"
     case 'i': return "Vowel alphabet"
     case 'o': return "Vowel alphabet"
     case 'u': return "Vowel alphabet"
     case _: return "Simple alphabet"
print (checkVowel('a'))
print (checkVowel('m'))
print (checkVowel('o'))

Vowel alphabet
Simple alphabet
Vowel alphabet

In [ ]:
#LOOPS

In [ ]:
#for loops

In [47]:
words = ["one", "two", "three"]
for x in words:
 print(x)

one
two
three

In [ ]:
#while loop

In [49]:
i = 1
while i < 6:
 print(i)
 i += 1

1
2
3
4
5

In [ ]:
#JUMP STATEMENTS

In [ ]:
 ##break

In [1]:
x = 0
while x < 10:
    print("x:", x)
    if x == 5:
        print("Breaking...")
        break
    x += 1
print("End")

x: 0
x: 1
x: 2
x: 3
x: 4
x: 5
Breaking...
End

In [ ]:
#continue statement

In [5]:
for letter in "Python":
 # continue when letter is 'h'
 if letter == "h":
     continue
 print("Current Letter :", letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [ ]:
#lists

In [7]:
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print ("list1[0]: ", list1[0])
print ("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [ ]:
#updating lists

In [9]:
list = ['physics', 'chemistry', 1997, 2000];
print ("Value available at index 2 : ")
print (list[2])
list[2] = 2001;
print ("New value available at index 2 : ")
print (list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [ ]:
#deleting list elements

In [11]:
list1 = ['physics', 'chemistry', 1997, 2000];
print (list1)
del list1[2];
print ("After deleting value at index 2 : ")
print (list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [ ]:
#Accessing Values in Tuples

In [13]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0]);
print ("tup2[1:5]: ", tup2[1:5]);

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [ ]:
#dictionaries

In [15]:
d1 = {"Fruit":["Mango","Banana"], "Flower":["Rose", "Lotus"]}
d2 = {('India, USA'):'Countries', ('New Delhi', 'New York'):'Capitals'}
print (d1)
print (d2)

{'Fruit': ['Mango', 'Banana'], 'Flower': ['Rose', 'Lotus']}
{'India, USA': 'Countries', ('New Delhi', 'New York'): 'Capitals'}

In [17]:
sports_player = {
 "Name": "Sachin Tendulkar",
 "Age": 48,
 "Sport": "Cricket"
}
print ("Dictionary using curly braces:", sports_player)
# Creating a dictionary using the dict() function
student_info = dict(name="Alice", age=21, major="Computer Science")
print("Dictionary using dict():",student_info)

Dictionary using curly braces: {'Name': 'Sachin Tendulkar', 'Age': 48, 'Sport': 'Cricket'}
Dictionary using dict(): {'name': 'Alice', 'age': 21, 'major': 'Computer Science'}

In [ ]:
#accessing values

In [19]:
student_info = {
 "name": "Alice",
 "age": 21,
 "major": "Computer Science"
}
# Accessing values using square brackets
name = student_info["name"]
print("Name:",name)
# Accessing values using the get() method
age = student_info.get("age")
print("Age:",age)

Name: Alice
Age: 21

In [ ]:
#moddifying dictionaries

In [21]:
student_info = {
 "name": "Alice",
 "age": 21,
 "major": "Computer Science"
}
# Modifying an existing key-value pair
student_info["age"] = 22
# Adding a new key-value pair
student_info["graduation_year"] = 2023
print("The modified dictionary is:",student_info)

The modified dictionary is: {'name': 'Alice', 'age': 22, 'major': 'Computer Science', 'graduation_year': 2023}

In [ ]:
#removing dictionary items

In [27]:
# Defining the student_info dictionary
student_info = {
    "name": "Alice",
    "age": 22,
    "major": "Computer Science",
    "graduation_year": 2023
}

# Removing an item using the del statement
del student_info["major"]

# Removing an item using the pop() method
graduation_year = student_info.pop("graduation_year")

# Printing the remaining items in the dictionary
print(student_info)

{'name': 'Alice', 'age': 22}

In [ ]:
#iterating through dictionaries

In [29]:
student_info = {
 "name": "Alice",
 "age": 22,
 "major": "Computer Science",
 "graduation_year": 2023
}
# Iterating through keys
for key in student_info:
 print("Keys:",key, student_info[key])
# Iterating through values
for value in student_info.values():
 print("Values:",value)
# Iterating through key-value pairs
for key, value in student_info.items():
 print("Key:Value:",key, value)

Keys: name Alice
Keys: age 22
Keys: major Computer Science
Keys: graduation_year 2023
Values: Alice
Values: 22
Values: Computer Science
Values: 2023
Key:Value: name Alice
Key:Value: age 22
Key:Value: major Computer Science
Key:Value: graduation_year 2023

In [ ]:
#class and objects

In [37]:
# defining class
class Smartphone:
    # constructor
    def __init__(self, device, brand):
        self.device = device
        self.brand = brand

    # method of the class
    def description(self):
        return f"{self.device} of {self.brand} supports Android 14"

# creating object of the class
phoneObj = Smartphone("Smartphone", "Samsung")
print(phoneObj.description())

Smartphone of Samsung supports Android 14

In [ ]:
#encapsulation

In [44]:
class Desktop:
    def __init__(self):
        self.__max_price = 25000

    def sell(self):
        return f"Selling Price: {self.__max_price}"

    def set_max_price(self, price):
        if price > self.__max_price:
            self.__max_price = price

# Object
desktopObj = Desktop()
print(desktopObj.sell())

# Attempting to modify the price directly (this will not work as expected)
desktopObj.__max_price = 35000
print(desktopObj.sell())  # This will still show the original price

# Modifying the price using setter function
desktopObj.set_max_price(35000)
print(desktopObj.sell())

Selling Price: 25000
Selling Price: 25000
Selling Price: 35000

In [ ]:
#inheritance

In [46]:
#!/usr/bin/python
# define parent class
class Parent:
    parentAttr = 100

    def __init__(self):
        print("Calling parent constructor")

    def parentMethod(self):
        print("Calling parent method")

    def setAttr(self, attr):
        Parent.parentAttr = attr

    def getAttr(self):
        print("Parent attribute:", Parent.parentAttr)

# define child class
class Child(Parent):
    def __init__(self):
        super().__init__()  # Call the parent constructor
        print("Calling child constructor")

    def childMethod(self):
        print("Calling child method")

# instance of child
c = Child()

# child calls its method
c.childMethod()

# calls parent's method
c.parentMethod()

# set new attribute value in parent
c.setAttr(200)

# get the updated attribute value from parent
c.getAttr()

Calling parent constructor
Calling child constructor
Calling child method
Calling parent method
Parent attribute: 200

In [ ]:
#polymorphism

In [50]:
# define parent class
class Parent:
    def myMethod(self):
        print("Calling parent method")

# define child class
class Child(Parent):
    def myMethod(self):
        print("Calling child method")

# instance of child
c = Child()
# child calls overridden method
c.myMethod()

Calling child method

In [ ]:
#Overloading Operators in Python

In [56]:
class Vector:
 def __init__(self, a, b):
    self.a = a
    self.b = b
 def __str__(self):
     return 'Vector (%d, %d)' % (self.a, self.b)

 def __add__(self,other):
     return Vector(self.a + other.a, self.b + other.b)
v1 = Vector(2,10)
v2 = Vector(5,-2)
print (v1 + v2)

Vector (7, 8)